
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewBag.Title</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/styles.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
@{ var u = Session["use"] as CHBHTH.Models.TaiKhoan; }
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light text-bg-light" >
    <div class="container px-4 px-lg-5">
        @Html.ActionLink("Cây Xanh", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"> @Html.ActionLink("Trang chủ", "Index", "Home", new { area = "" }, new { @class = "nav-link activ" })</li>
                <li class="nav-item"> @Html.ActionLink("Giới thiệu", "About", "Home", new { area = "" }, new { @class = "nav-link activ" })</li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Sản phẩm </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li> @Html.ActionLink("Toàn bộ sản phẩm", "index", "sanpham", new { area = "" }, new { @class = "dropdown-item" }) </li>

                        <li><hr class="dropdown-divider" /></li>
                        <li> @Html.Action("danhmucpartial", "danhmuc", new { @class = "dropdown-item" }) </li>
                    </ul>
                </li>
                <li class="nav-item"> @Html.ActionLink("Tin tức", "Index", "tintuc", new { area = "" }, new { @class = "nav-link activ" })</li>
                <li class="nav-item"> @Html.ActionLink("Liên hệ", "Contact", "Home", new { area = "" }, new { @class = "nav-link activ" })</li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-secondary" type="submit">
                    @Html.Action("GioHangPartial", "GioHang", new { @class = "giohang" })
                </button>
            </form>
        </div>
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    @if (u != null)
                    {
                        <a class="dropdown-item" style="color:red" href="@Url.Action("Profile", "User", new { id = u.MaNguoiDung })"> Xin chào : @u.Email</a>
        
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/User/DangXuat"> Đăng xuất</a>
                    }
                    else
                    {
                        <a class="dropdown-item" style="color:red" href="@Url.Action("Dangnhap", "User", new { area = "",@class = "nav-link py-3 px-0 px-lg-3 rounded" })">Đăng nhập</a>
                    }
        
                </div>
            </li>
        </ul>
    </div>
</nav>

<!-- Footer-->
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->

@RenderBody()
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>

<!-- Footer-->
<footer class="text-bg-success" style="padding-left:50px">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            
        </div>
        <div class="col-md-3 col-sm-6">
            <br />
            <h2>Cửa hàng Cây Xanh</h2>
            <br />
            <span>123 Láng Hạ, Đống Đa, Hà Nội</span>
            <br />
            <span>cayxanhstore@gmail.com</span>

        </div>
        <div class="col-md-3 col-sm-6">
        </div>
    </div>
    <hr />
    <!-- Copyright Section-->
    <div class="copyright py-4 text-center text-white">
        <div class="container"><small>Copyright &copy; Cửa hàng Cây Xanh 2023</small></div>
    </div>
</footer>
<script src="~/Content/js/scripts.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

<script src="~/Content/ckeditor/ckfinder/ckfinder.js"></script>

<script src="~/Content/ckeditor/ckeditor.js"></script>

<script src="~/Content/ckeditor/adapters/jquery.js"></script>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="~/Areas/Assets/dist/js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="~/Areas/Assets/dist/assets/demo/chart-area-demo.js"></script>
<script src="~/Areas/Assets/dist/assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script src="~/Areas/Assets/dist/assets/demo/datatables-demo.js"></script>


<script>
</script>

@RenderSection("DoanJS", false)
</html>

<style>
    body{
        min-height: 100vh;
    }
</style>

<style>
    /* Dropdown Button */
    .dropbtn {
        background-color: #04AA6D;
        color: white;
        padding: 10px;
        margin: 5px;
        font-size: 16px;
        border: none;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        /* Links inside the dropdown */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            /* Change color of dropdown links on hover */
            .dropdown-content a:hover {
                background-color: #ddd;
            }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }
</style>